/* Start Global rules */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Tahoma, Arial
}
/* End Global rules */

/* Start Header */
.navbar{
    list-style: none;
    margin: 0;
    padding: 5px;
    background-color: #333;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0 ,0, 0, .7)
}
.navbar li {
    display: inline-block;
    padding: 10px;
}
.navbar li a {
    color: #EEE;
    text-decoration: none;
}

.navbar li a.active {
    color: #ffea00;
}

/* End Header */

/* Start sections */
.block{

    height: 1200px;
    background-color: #EEE;
    margin-bottom: 20px;
    padding: 60px 0;
    text-align: center;
}

/* End sections */