/* Start Global rules */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Tahoma, Arial
}
/* End Global rules */

/* Start Header */
.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}
.navbar li {
    display: inline-block;
    padding: 10px;
}
.navbar li a {
    color: #EEE;
    text-decoration: none;
}

/* End Header */

/* Start sections */
.block{

    height: 1200px;
}

/* End sections */